/* リセットする用 */
* {
  margin: 0;
  box-sizing: border-box;
  /* text-decoration: none; */
  /* list-style: none; */
  /* color: #000; */
}


/* PC・SP共通用 */
/* ーーーーーーーーーーカナstartーーーーーーーーーーーーーーー */
/* ーーーーーーーーーーーーーーーーーーーーロード画面ーーーーーーーーーーーーーーーーーーーー */
#loading {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #fff;
  text-align: center;
  color: #000;
}

/* Loadingバー中央配置　*/
#loading_text {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  width: 90%;
  transform: translate(-50%, -50%);
  color: #202020;
}


.header {
  background-color: #0F8CFD;
  z-index: 100;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  transition: 0.5s;
}

.headerFixed {
  position: fixed;
}

.header.changeColor {
  background-color: #fff;
}

.header_logoText {
  font-weight: normal;
  color: #fff;
  text-decoration: none;
}

.changeColor .header_logoText {
  color: #000;
}

.header_fixMenuArea {
  display: flex;
  gap: 15px;
}

.header_fixMenuArea.header_menuItem {
  width: 50px;
}

.header_menuItemImg {
  width: 50px;
}

.header_fixMenuItem {
  list-style: none;
}


/* ーーーーーーーーーーーーーーーーーーーーハンバーガーーーーーーーーーーーーーーーーーーーーー */
/* ボタン部分ーーーーーーーーーーーーーーーーーーーー */
.header_hamburger {
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: relative;
  z-index: 120;
}

.header_hamburgerLineArea {
  transition: all .4s;
}

.header_hamburgerLine {
  display: block;
  content: "";
  background-color: #fff;
  height: 2px;
  width: 35px;
  margin: 0 auto;
  margin-top: 10px;
  transition: all .4s;
  opacity: 1;
}

.header_menu {
  position: absolute;
  top: 0;
  left: -250px;
  height: 100vh;
  width: 250px;
  background-color: #373737;
  padding: 50px 20px;
  transition: all .4s;
  z-index: 120;
  opacity: 0;
}

.changeColor .header_hamburgerLine {
  background-color: #000;
}

.header.hide {
  transform: translateY(-100%);
}


/* 左側のメニュー部分ーーーーーーーーーーーーーーーーーーーー */
.header_menuArea {
  padding: 0;
}

.header_menuItem {
  list-style: none;
}

.header_menuItem:first-of-type {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.header_menuItem:nth-of-type(2),
.header_menuItem:nth-of-type(3) {
  border-bottom: 1px solid #fff;
}

.header_menuItemLink {
  text-decoration: none;
  color: #fff;
  display: block;
}

.header_menuItem:first-of-type .header_menuItemLink,
.header_menuItem:nth-of-type(2) .header_menuItemLink,
.header_menuItem:nth-of-type(3) .header_menuItemLink {
  padding: 20px 0;
}

.header_menuItem:nth-of-type(4) {
  margin-top: 50px;
}


.header_menuItem:nth-of-type(5),
.header_menuItem:nth-of-type(6) {
  margin-top: 20px;
}

/* ハンバーガーがactiveになったときーーーーーーーーーーーーーーーーーーーー */
/* ボタン部分ーーーーーーーーーーーーーーーーーーーー */
.active .header_hamburgerLine {
  background-color: #fff;
}

.active .header_hamburgerLine:first-of-type {
  transform: translateY(11px) rotate(-135deg);
}

.active .header_hamburgerLine:nth-of-type(2) {
  opacity: 0;
}

.active .header_hamburgerLine:last-of-type {
  transform: translateY(-12px) rotate(135deg);
}

/* 黒っぽい背景ーーーーーーーーーーーーーーーーーーーー */
.header.active::after {
  display: block;
  content: "";
  opacity: 0.8;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .4s;
  background-color: #000;
  z-index: 110;
}

/* メニュー出現ーーーーーーーーーーーーーーーーーーーー */
.active .header_menu {
  left: 0;
  opacity: 1;
}

/* ーーーーーーーーーーーーーーーーーーーーkvーーーーーーーーーーーーーーーーーーーー */
.kv {
  position: relative;
}

/* ーーーーーーーーーーーーーーーーーーーーkvにテキスト挿入する場合ーーーーーーーーーーーーーーーーーーーー */
.kv_newLine {
  display: inline-block;
}

.kv_text span {
  display: none;
}

/*文字列後ろの線の設定*/
.kv_text::after {
  content: "|";
  animation: typinganime .8s ease infinite;
}

@keyframes typinganime {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

/* ーーーーーーーーーーendーーーーーーーーーーーーーーー */


/* ーーーーーーーーーーザキstartーーーーーーーーーーーーーーー */

/* .mainpick {
  width: 100%;
} */

.carouselarea {
  width: auto;
  height: auto;
  margin-top: 20px;
  padding: 0;
}

.carouselarea img {
  display: block;
  width: 600px;
  height: 300px;
  object-fit: cover;
  opacity: .3;
  /* 両サイドのスライドを薄くする */
  transform: scale(.8);
  /* 両サイドのスライドのサイズを小さくする */
  transition: opacity .5s, transform .5s;
  /* 透過とアニメーションの時間設定 */
}

.carouselarea .slick-center img {
  opacity: 1;
  /* 中央の画像は透過しない */
  transform: scale(1);
  /* サイズも通常のまま */
}

.carouselarea li {
  overflow: visible !important;
}

.carouselarea li img {
  max-width: 98%;
}

.pick {
  text-align: center;
  font-size: 38px;
  margin-top: 30px;
}

.sabmain {
  max-width: 1240px;
  padding: 0 16px 50px 16px;
  margin: 30px auto 10px auto;
}

.feature {
  text-align: center;
  font-size: 38px;
  margin-bottom: 30px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;

}

.grid-box {
  display: block;
  text-decoration: none;
  color: #000;
  box-shadow: 0 0 10px 5px #ccc;
  opacity: 0;
  transform: translate(0, 0);
  transition: all 1.5s;
  transform: translate(0, 30px);

  &.scrollin {
    opacity: 1 !important;
    transform: translate(0, 0) !important;
  }
}

.grid-box img {
  max-width: 100%;
}

.grid-box {
  overflow: hidden;
}

.grid-box img:hover {
  transform: scale(1.3);
  transition: 0.3s;
}

.category {
  text-align: left;
  font-size: 10px;
  margin-top: 30px;
  margin-left: 20px;
}

.featuretext {
  font-weight: bold;
  margin: 30px 20px 20px 20px;
}

.days {
  text-align: right;
  margin-right: 20px;
  margin-bottom: 40px;
}

.sub-page {
  width: auto;
  background-color: #0F8CFD;
}

.sub-item {
  position: relative;
  margin-bottom: 0.2rem;
  padding: 1rem 0;
  border-bottom: 5px solid;
  font-size: 36px;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  color: #fff;
}

.sub-item::before {
  position: absolute;
  bottom: -0.6rem;
  left: 0rem;
  right: 0rem;
  border-bottom: 1px solid;
  content: ' ';
}

.sneaker-menu {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 30px;
}


.sneaker-img img {
  box-shadow: 0 0 10px 5px #000;
}

.item-text {
  margin-top: 30px;
  font-size: 26px;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: #fff;
}

.item-money {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 40px;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}

.size {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: #fff;
}

.selectbox-size {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.selectbox-size::after {
  position: absolute;
  right: 15px;
  width: 10px;
  height: 7px;
  background-color: #535353;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  content: '';
  pointer-events: none;
}

.selectbox-size select {
  appearance: none;
  min-width: 230px;
  height: 2.8em;
  padding: .4em calc(.8em + 30px) .4em .8em;
  border: none;
  border-bottom: 2px solid #686464;
  background-color: #fff;
  color: #333333;
  font-size: 1em;
  cursor: pointer;
}

.selectbox-size select:focus {
  outline: none;
}

.buy-btn {
  margin-top: 20px;
  margin-left: 30px;
  display: inline-block;
  color: #fff; /* 文字色 */
  font-weight: bold; /* 文字の太さ */
  width: 100%;
  max-width: 140px; /* ボタン幅 */
  text-decoration: none;
  border: 2px solid #040404; /* 線の色 */
  padding: 1em 2em;
  text-align: center;
  position: relative;
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 200% auto;
  background-image: linear-gradient(to right, #fff 0%, #fff 50%, #040404 50%, #060505 100%); /* 背景色(マウスオーバー後→前) */
  transition: background-position .8s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: background-position .8s cubic-bezier(0.19, 1, 0.22, 1);
}

.buy-btn_arrow {
  display: inline-block;
  padding-left: 1em;
}

/* マウスオーバーした際のデザイン */
.buy-btn:hover {
  background-position: 0 0;
  color: #000; /* 文字色 */
}

.buy-color {
  width: 100%;
  background-color: #0F8CFD;
}

/* loading用 */

#loading-body {
  background-color: #222;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 500;
}

.header.thanks {
  position: relative;
}

#loading-wrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
}

#loading-text {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #999;
  width: 100px;
  height: 30px;
  margin: -7px 0 0 -45px;
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
}


#loading-content {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 170px;
  height: 170px;
  margin: -85px 0 0 -85px;
  border: 3px solid #F00;
}

#loading-content:after {
  content: "";
  position: absolute;
  border: 3px solid #0F0;
  left: 15px;
  right: 15px;
  top: 15px;
  bottom: 15px;
}

#loading-content:before {
  content: "";
  position: absolute;
  border: 3px solid #00F;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
}

#loading-content {
  border: 3px solid transparent;
  border-top-color: #4D658D;
  border-bottom-color: #4D658D;
  border-radius: 50%;
  -webkit-animation: loader 2s linear infinite;
  -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
  animation: loader 2s linear infinite;
}

#loading-content:before {
  border: 3px solid transparent;
  border-top-color: #D4CC6A;
  border-bottom-color: #D4CC6A;
  border-radius: 50%;
  -webkit-animation: loader 3s linear infinite;
    -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
  animation: loader 3s linear infinite;
}

#loading-content:after {
  border: 3px solid transparent;
  border-top-color: #84417C;
  border-bottom-color: #84417C;
  border-radius: 50%;
  -webkit-animation: loader 1.5s linear infinite;
  animation: loader 1.5s linear infinite;
    -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
}

@-webkit-keyframes loaders {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#content-wrapper {
  color: #FFF;
  position: fixed;
  left: 0;
  top: 20px;
  width: 100%;
  height: 100%;
}

/* #header
{
  width: 800px;
  margin: 0 auto;
  text-align: center;
  height: 100px;
  background-color: #666;
} */

/* #content
{
  width: 800px;
  height: 1000px;
  margin: 0 auto;
  text-align: center;
  background-color: #888;
} */

/* loading用END */


.present-box {
  display: block;
  text-align: center;
  padding-top: 30px;
}




.thanks-buy {
    display: flex;
    overflow: hidden;
    width: 100%;
    text-align: center;
    justify-content: center;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: #fff;
  }
  
  .thanks-buy span {
    display: block;
    transform: translate(0, 105%);
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  }
  
  .thanks-buy.-visible span {
    transform: translate(0, 0);
  }
  
  .thanks-buy span:nth-child(2) {
    transition-delay: 0.06s;
  }
  .thanks-buy span:nth-child(3) {
    transition-delay: 0.12s;
  }
  .thanks-buy span:nth-child(4) {
    transition-delay: 0.18s;
  }
  .thanks-buy span:nth-child(5) {
    transition-delay: 0.24s;
  }
  .thanks-buy span:nth-child(6) {
    transition-delay: 0.30s;
  }
  .thanks-buy span:nth-child(7) {
    transition-delay: 0.36s;
  }
  .thanks-buy span:nth-child(8) {
    transition-delay: 0.42s;
  }
  .thanks-buy span:nth-child(9) {
    transition-delay: 0.48s;
  }
  .thanks-buy span:nth-child(10) {
    transition-delay: 0.54s;
  }
  .thanks-buy span:nth-child(11) {
    transition-delay: 0.6s;
  }
  .thanks-buy span:nth-child(12) {
    transition-delay: 0.66s;
  }
  .thanks-buy span:nth-child(13) {
    transition-delay: 0.72s;
  }
  .thanks-buy span:nth-child(14) {
    transition-delay: 0.78s;
  }
  .thanks-buy span:nth-child(15) {
    transition-delay: 0.82s;
  }
  .thanks-buy span:nth-child(16) {
    transition-delay: 0.86s;
  }
  .thanks-buy span:nth-child(17) {
    transition-delay: 0.90s;
  }
  .thanks-buy span:nth-child(18) {
    transition-delay: 0.94s;
  }
  .thanks-buy span:nth-child(19) {
    transition-delay: 0.96s;
  }
  .thanks-buy span:nth-child(20) {
    transition-delay: 0.98s;
  }
  .thanks-buy span:nth-child(21) {
    transition-delay: 1s;
  }
  .thanks-buy span:nth-child(22) {
    transition-delay: 1s;
  }
  .thanks-buy span:nth-child(23) {
    transition-delay: 1s;
  }
  .thanks-buy span:nth-child(24) {
    transition-delay: 1s;
  }



/* ーーーーーーーーーーendーーーーーーーーーーーーーーー */


/* ーーーーーーーーーーコウstartーーーーーーーーーーーーーーー */
#contact {
  color: #fff;
  background-color: #121212;
  padding: 50px 0;
  font-family: "Anton", sans-serif;
}

#contact {
  background: url(img/feature6.jpg);
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: 50%;
  position: relative;
}

#contact::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /*背景よりも前面に表示*/
  z-index: 1;
}

#confirmation .title {
  color: #fff;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.index-title {
  color: #fff;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  z-index: 4;
  position: relative;
}

#contact .content {
  max-width: 1240px;
  padding: 0 16px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

#contact .info p {
  padding: 20px;
  margin-bottom: 30px;
}

#contact .info,
#contact .contact-form {
  width: 45%;
  z-index: 2;
}

#contact .contact-form input,
#contact .contact-form textarea {
  width: 100%;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 20px;
}

#contact .contact-form .button input {
  width: 200px;
  color: #fff;
  background-color: #121212;
  border: solid 1px #fff;       
  padding: 12px 0;
  margin-bottom: 0;
}

#contact .contact-form .button input:hover {
  color: #202020;
  background-color: #fff;
}

.tothetop {
  position:fixed;
  right:10px;
  bottom:0px;
  cursor:pointer;
  z-index: 10;
}

#contact .tothetop img {
  width: 230px;
  height: auto;
  border-radius: 20%;
  margin: 0 30px 20px 0;
}

#contact .tothetop img:hover {
  opacity: 0.7;
}

#footer {
  color: #fff;
  background-color: #121212;
  text-align: center;
  padding: 10px;
  font-size: 0.75rem;
}

/*確認画面*/

#confirmation {
  color: #fff;
  background-color: #121212;
  padding: 50px 0;
  width: auto;
  overflow-x: hidden;
  font-family: "Anton", sans-serif;
}

.submit-btn,
 #thanks .message-btn {
  margin-top: 20px;
  margin-left: 30px;
  display: inline-block;
  color: #040404; /* 文字色 */
  font-weight: bold; /* 文字の太さ */
  width: 100%;
  max-width: 140px; /* ボタン幅 */
  text-decoration: none;
  border: 2px solid #040404; /* 線の色 */
  padding: 1em 2em;
  text-align: center;
  position: relative;
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 200% auto;
  background-image: linear-gradient(to right, #040404 0%, #040404 50%, #fff 50%, #fff 100%); /* 背景色(マウスオーバー後→前) */
  transition: background-position .8s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: background-position .8s cubic-bezier(0.19, 1, 0.22, 1);
}

.submit-btn:hover, 
#thanks .message-btn:hover {
  background-position: 0 0;
  color: #fff; /* 文字色 */
}

#confirmation .confirmation-form {
  display: flex;
  justify-content: center;
}

#confirmation .confirmation-info {
  padding: 20px;
  /* margin-bottom: 15px; */
  display: flex;
  justify-content: center;
}

#confirmation .submit {
  display: flex;
  justify-content: center;
}

#confirmation .submit button {
  display: flex;
  justify-content: center;
  margin: 0.5em;
  width: 70%;
  font-weight: bold;
}

#confirmation ul {
  /*リストの左寄せ*/
  padding-left: 0;
  padding: 20px;
  justify-content: center;
  margin-bottom: 10%;
  border-bottom: solid 1px #fff;
  width: auto;
}
.contact-group {
  margin-bottom: 50px;
}

/* 確認画面のリストの点消し */
#confirmation .contact-group .contact-list li {
  list-style: none;
  font-size: large;
  width: 100%;
}

.contact-list {
  margin: 20px;
}

/* ローディング画面*/
#loading-contents {
  position: fixed;
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  /* box-sizing: border-box; */
  background-color: #fff;
  overflow: hidden;

  top: 0;
  left: 0;
  z-index: 999;
}

.loading-area {
  display: flex;
  justify-content: center;
  gap: 5px
}

.loading-area span {
  display: inline-block;
  color: #000;
  font-family: 'Anton', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  animation: rotate 2s infinite linear;
  text-transform: uppercase;
}

.loading-area span:nth-child(2) {
  animation-delay: 0.1s;
}

.loading-area span:nth-child(3) {
  animation-delay: 0.2s;
}

.loading-area span:nth-child(4) {
  animation-delay: 0.3s;
}

.loading-area span:nth-child(5) {
  animation-delay: 0.4s;
}

.loading-area span:nth-child(6) {
  animation-delay: 0.5s;
}

@keyframes rotate {
  70% {
    transform: rotateX(0deg);
  }

  100% {
    transform: rotate(360deg);
  }

}

/*thanks画面*/
/* #thanks {
  font-family: "Anton", sans-serif;
} */

#thanks .thanks-form {
  display: flex;
  /* justify-content: center;*/
  flex-direction: column;
  align-items: center;
}

#thanks .thanks-form .message {
  margin: 20px;
  font-family: "Anton", sans-serif;
}

.clear-message {
  color: #808080;
  text-align: center;
  margin: 20px 0 30px 0;
}

/* .mask-bg {
  color: transparent;
  display: inline-block;
  font-size: 40px;
  overflow: hidden;
  position: relative;
  translate: color 0ms 450ms;
}
.mask-bg::after {
  background: linear-gradient(to right, #362ae0 0%,#3b79cc 50%,#42d3ed 100%);
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(0, 100%);
  }
  .mask-bg .animated {
    color: #362ae0;
  }
  .mask-bg .animated::after {
    animation: mask-bg 1.2s cubic-bezier(0.8, 0, 0.170, 1);
  }

  @keyframes mask-bg {
    0% {
      transform: translate(0, 101%)
    }
    40%, 60% {
      transform: translate(0, 0%)
    }
    100% {
      transform: translate(0, -100%)
    }
  } */
/* ーーーーーーーーーーendーーーーーーーーーーーーーーー */



/* PC用 */
@media screen and (min-width: 769px) {

  /* ーーーーーーーーーーカナstartーーーーーーーーーーーーーーー */
  .header {
    padding: 20px 40px;
  }

  .kv {
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }

  .kv_imgWrap {
    height: 100vh;
  }

  .kv_img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: 100% 0%;
  }

  .kv_textArea {
    position: absolute;
    z-index: 10;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 2%;
    display: flex;
    justify-content: center;
  }

  .kv_text {
    width: 100%;
    text-align: center;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(5rem + 0.5vw, 6rem + 3vw, 13rem + 0.5vw);
    color: #fff;
    width: 90%;
  }

  /* ーーーーーーーーーーendーーーーーーーーーーーーーーー */


  /* ーーーーーーーーーーザキstartーーーーーーーーーーーーーーー */

  .sub-page {
    height: calc(100vh - 90px - 38px);
    padding: 30px;
  }

  .sneaker-img {
    padding-top: 30px;
    padding-left: 30px;
  }

  .buy-color {
    height: calc(100vh - 90px - 38px);
  }
  


  /* ーーーーーーーーーーendーーーーーーーーーーーーーーー */


  /* ーーーーーーーーーーコウstartーーーーーーーーーーーーーーー */

  .fullscreen {
    height: 100vh;
    background-color: #121212;
    padding: 60px 0 200px 0;
  }
  /*tothetopボタンのサイズ*/
  #contact .tothetop img {
    width: 160px;
    height: auto;
  }
  /* ーーーーーーーーーーendーーーーーーーーーーーーーーー */
}


/* SP用 */
@media screen and (max-width: 768px) {

  /* ーーーーーーーーーーカナstartーーーーーーーーーーーーーーー */
  .header {
    padding: 20px 20px;
  }

  .kv {
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }

  .kv_imgWrap {
    height: 100vh;
  }

  .kv_img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: 85% 0%;
  }

  .kv_textArea {
    position: absolute;
    z-index: 10;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 15%;
    display: flex;
    justify-content: center;
  }

  .kv_text {
    width: 100%;
    text-align: center;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(2rem + 1vw, 4rem + 1vw, 8rem + 1vw);
    color: #fff;
    width: 90%;
  }

  /* ーーーーーーーーーーendーーーーーーーーーーーーーーー */


  /* ーーーーーーーーーーザキstartーーーーーーーーーーーーーーー */

  .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
  }

  .sub-page {
    padding: 20px 15px 15px 15px; 
  }

  .sneaker-menu {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    text-align: center;
  }

  .sneaker-img {
    width: 100%;

  }

  .sneaker-img img {
    width: 100%;
  }

  .buy-btn {
    margin-left: 0;
  }

  
  .buy-color {
    width: 100%;
    height: calc(100vh - 90px - 38px);
  }
  
  .present-box img {
    width: 100%;
    height: 100%;
  }

  .thanks-buy {
    font-size: 30px;
    padding-bottom: 30px;
  }


  /* ーーーーーーーーーーendーーーーーーーーーーーーーーー */


  /* ーーーーーーーーーーコウstartーーーーーーーーーーーーーーー */
  #contact {
    padding: 80px 0 120px 0;
  }

  #contact .content {
    flex-direction: column;
  }

  .contact-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  #contact .info,
  #contact .contact-form,
  #confirmation .confirmation-form table {
    width: 100%;
  }

  #contact .contact-form .button input {
    width: 100%;
  }

  #contact .tothetop img {
    width: 140px;
    height: auto;
  }
  /*確認画面のmessage部分もsp設定必要*/

  /*確認画面*/
  #confirmation ul {
    width: 300px;
  }
  .confirmation-message {
    word-wrap: break-word;
  }
  /* ーーーーーーーーーーendーーーーーーーーーーーーーーー */
}