/* リセットする用 */
* {
  margin: 0;
  box-sizing: border-box;
  /* text-decoration: none; */
  /* list-style: none; */
  /* color: #000; */
}


/* PC・SP共通用 */
/* ーーーーーーーーーーカナstartーーーーーーーーーーーーーーー */

/* ーーーーーーーーーーendーーーーーーーーーーーーーーー */


/* ーーーーーーーーーーザキstartーーーーーーーーーーーーーーー */

/* ーーーーーーーーーーendーーーーーーーーーーーーーーー */


/* ーーーーーーーーーーコウstartーーーーーーーーーーーーーーー */
#contact {
  color: #fff;
  background-color: #121212;
  padding: 50px 0;
}
#contact .contact-title,
#confirmation .title {
  color: #fff;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
#contact .content {
  max-width: 1240px;
  padding: 0 16px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#contact .info p {
  padding: 20px;
  margin-bottom: 30px;
}
#contact .info,
#contact .contact-form {
  width: 45%;
}
#contact .contact-form input,
#contact .contact-form textarea {
  width: 100%;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 20px;
}
#contact .contact-form .button input {
  width: 200px;
  color: #fff;
  background-color: #121212;
  border: solid 1px #fff;
  padding: 12px 0;
  margin-bottom: 0;
}
#contact .contact-form .button input:hover {
  color: #202020;
  background-color: #fff;
}
#footer {
  color: #fff;
  background-color: #121212;
  text-align: center;
  padding: 10px;
  font-size: 0.75rem;
}
#confirmation {
  color: #fff;
  background-color: #121212;
  padding: 50px 0;
}
#confirmation .confirmation-form {
  display: flex;
  justify-content: center;
}
#confirmation .confirmation-info {
  padding: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
#confirmation .confirmation-form table {
  height: 25vh;
  width: 30vw;
}
#confirmation .submit {
  display: flex;
  justify-content: center;
}
#confirmation .submit button {
  display: flex;
  justify-content: center;
  margin: 0.5em;
  width: 50%;
  font-weight: bold;
}
/*#confirmation .data dl {
  width: 100%;
}*/
/* ーーーーーーーーーーendーーーーーーーーーーーーーーー */



/* PC用 */
@media screen and (min-width: 769px) {
  /* ーーーーーーーーーーカナstartーーーーーーーーーーーーーーー */

  /* ーーーーーーーーーーendーーーーーーーーーーーーーーー */


  /* ーーーーーーーーーーザキstartーーーーーーーーーーーーーーー */

  /* ーーーーーーーーーーendーーーーーーーーーーーーーーー */


  /* ーーーーーーーーーーコウstartーーーーーーーーーーーーーーー */

  /* ーーーーーーーーーーendーーーーーーーーーーーーーーー */
}


/* SP用 */
@media screen and (max-width: 768px) {
  /* ーーーーーーーーーーカナstartーーーーーーーーーーーーーーー */

  /* ーーーーーーーーーーendーーーーーーーーーーーーーーー */


  /* ーーーーーーーーーーザキstartーーーーーーーーーーーーーーー */

  /* ーーーーーーーーーーendーーーーーーーーーーーーーーー */


  /* ーーーーーーーーーーコウstartーーーーーーーーーーーーーーー */
  #contact {
    padding: 80px 0;
  }
  #contact .content {
    flex-direction: column;
  }
  .contact-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  #contact .info,
  #contact .contact-form,
  #confirmation .confirmation-form table {
    width: 100%;
  }
  #contact .contact-form .button input {
    width: 100%;
  }
  /* ーーーーーーーーーーendーーーーーーーーーーーーーーー */
}